version: 2.1
orbs:
  node: circleci/node@6.13.6
jobs:
  build-and-test:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm install
            - run: npm test
  publish:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm install
            - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > .npmrc
            - run: npm publish --access public
workflows:
    build-and-test:
      jobs:
        - build-and-test
        - publish:
            requires:
              - build-and-test
            filters:
              tags:
                only: /.*/
              branches:
                ignore: /.*/  